# Copy this file to .env and fill in values

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=scooterdb
POSTGRES_USER=scooter
POSTGRES_PASSWORD=changeme

PGADMIN_DEFAULT_EMAIL=admin@scooter.local
PGADMIN_DEFAULT_PASSWORD=changeme

ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
ELASTIC_USER=elastic
ELASTIC_PASSWORD=changeme

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://scooter:changeme@postgres:5432/scooterdb
AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLt0nfdifY=
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__WEBSERVER__SECRET_KEY=changeme

LOG_FILE=/data/scooter_stream.jsonl
SCOOTER_COUNT=50
EMIT_INTERVAL_SEC=1
